.App {
  text-align: center;
}
/* .App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.btn {
  margin-top: 200px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0d8de8;
}
